<html>
    <header>
        <title>contacts</title>
        <link rel="stylesheet" href="/styles.css">
    </header>
    <body>
        <nav class="nav">
            <div class="head-image">
                <a href="/"><img src="/headimg.svg" ></a>
            </div>
        </nav>
            <div class="signin">
                <form action="/signingin" method="post">
                    <label>User name:</label>
                    <input type="text" id="username" name="username"/>
                    <label>Password:</label>
                    <input type="text" id="password" name="password"/>
                    <button>Sign In</button>
                </form>
                <h3>If you dont have an account ! <a href="/signup">Sign Up</a></h3>
            </div>
    </body>
</html>